body {
  height: auto;
width: 1200px;
margin: 0 auto; /*this will centralize the div, horizontal. so that it is nice looking in the middle on different computer screens. */
background-color: white;
}

#logo {
    color: #4285f4;
    font: 16px/16 pxroboto-regular, Arial, Sans-serif;
    left: 215px;
    position: relative;
    top: 76px;
  }

input {
    width: 30%;
    position: relative;
    right: 330px;
    top: 40px;
}

#button {
  font-family: Arial, Sans-serif;
  font-weight: bolder;
  font-size: 14px;
  top: 100px;
}

#button ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding-left: 235;
  padding-top: 10;

}

#button li {
  display: block;
  position: relative;
  float: left;
  width: 140px;
}

#button li a {
  display: block;
  color: grey;
  background-color: #dddddd;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  border: 5px solid white;
}

#button li a:hover {
  color: black;
}

/*Navigation Toolbar*/

#nav {
  color: black;
  font-family: Arial, Sans-serif;
  font-size: 14px;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  float: right;
}


#nav li {
  display: block;
  position: relative;
  width: 60px;
}

#nav li a {
  color: black;
  display: block;
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
}

#nav li a:hover {
  text-decoration: underline;
}



/*Bottom part*/

#bottom {
  font-size: 12px;
  font-family: Arial, Sans-serif;
  background: #DCDCDC;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}



#bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 16;
  text-align: center;
  overflow: hidden;
}

#bottom li {
display: block;
  color: black;
  text-align: center;
}

#bottom li a {
  color: black;
  display: block;
  text-align: center;
  padding: 1px 10px;
  text-decoration: none;
}

#bottom li a:hover {
  text-decoration: underline;
}
